*{margin: 0; padding: 0;}


.about-me{
	overflow: hidden;
}

.container-image-me{
  margin-top:-10%;
	left: 0;
  width:100%;
  height: 100%
}

.container-image-me img{
	width: 100%;
}

.text-about-me{
	margin-top:7%;
}


@media screen and (max-width: 700px) {

	.container-image-me{
		margin-top: 20%;
  }

  .pageTitle {
    left: 50%;
  }

  .pageTitle:before,
  .pageTitle:after {
    width: 20px;
  }
  
  .pageTitle:before {
    right: 33%;
  }

  .pageTitle:after {
    left: -15%;
  }

}