*{
    margin: 0; padding: 0;
    font-family: 'Nunito Sans', sans-serif!important;
}

.BigBoss {
  width: 100%;
  height: 100%;
}

.BGimage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("Image/BG.svg");
  background-size: cover;
}

.Sidenav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 120px;
  height: 100%;
  background-image: -webkit-linear-gradient(left, white, rgba(255, 255, 255, 0.7));
  border-right: 1px solid #eee;
  display: flex;
  align-items: center;
}

.sidenavItem {
  position: fixed;
  z-index: 2;
  left: 60px;
  visibility: hidden;
}

.sidenavItem a {
  display: block;
  padding: 34px;
}

@media screen and (max-width: 700px) {
  .Sidenav {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    border-bottom: 1px solid #eee;
  }

  .Sidenav .pageTitle {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 128px;
    margin-left: -64px;
    height: 24px;
    margin-top: -12px;
    z-index: 4;
    display: block;
    -webkit-transform: rotate(0deg);
    text-transform: uppercase;
  }

  .Sidenav .menunav {
    position: absolute;
    bottom: 0;
    top: 24px;
    left: 16px;
  }

  .logo-ic {
    position: fixed;
    top: 10px;
    right: 16px;
    margin-left: 0%;
  }

}

.logo-ic img {
  width: 100%;
}

.logo-ic {
  position: fixed;
  top: 40px;
  margin-left: 36px;
  z-index: 3;
}

.pageTitle {
  position: fixed;
  top: 50%;
  z-index: 4;
  display: block;
  -webkit-transform: rotate(-90deg);
  text-transform: uppercase;
  margin: 0;
  height: 24px;
  margin-left: -12px;
}

.pageTitle:before,
.pageTitle:after,
.pageTitle.takeARest:before,
.pageTitle.takeARest:after {
  content: '';
  height: 1px;
  width: 110px;
  background: #3d3d3d;
  position: absolute;
  display: block;
}
.pageTitle:before {
  top: 50%;
  right: -100%;
}

.pageTitle:after {
  bottom: 50%;
  left: -100%;
}
.pageTitle.takeARest {
  margin-left: 4px;
}
.pageTitle.takeARest:before{
  right: -123%;
}
.pageTitle.takeARest:after {
  left: -123%;
}

.menunav {
  position: fixed;
  bottom: 24px;
  left: 42px;
  z-index: 5;
}

.closeButton {
  bottom: 34px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    display: block;
    padding: 48px 60px;
}
