* {
  margin: 0;
  padding: 0;
}

.HomeIntro {
  margin-top: 10%;
}

.Menu {
	margin-top: 30px;
}

.Listmenu {
  display: block;
  margin-top: 20px;
}

#ContainerLogo {
	width: 60%;
	height: 60%;
	position: relative;
	margin-top: 150px;
	margin-right: 10%;
	float: right;
}

#ContainerLogo img {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .HomeIntro {
    margin-top: 15%;
  }
}

@media screen and (max-width: 700px) {
	.HomeIntro {
		margin-top: 30%;
	}
}

@media screen and (max-width: 575px) {
	#ContainerLogo {
		width: 200px;
		height: 200px;
		margin-top: 0%;
		float: left;
	}
}
