*{margin: 0; padding: 0;}

.HomeIntro {
	margin-top: 10%;
}
.HomeIntro div{
	margin-bottom: 68px;
	}
#HomeLogo {
	margin-top: 24%;
}

.Listmenu {
	display: block;
	margin-top: 10px;
	margin-bottom: 6px;
}

.container-logo{
	width: 360px;
	height: 360px;
}
@media screen and (max-width: 700px) {
	.container-logo{
	width: 240px;
	height: 240px;
	float: right;
	}
	.HomeIntro {
	margin-top: 30%;
	}
	.HomeIntro div{
	margin-bottom: 36px;
	}
	#HomeLogo {
	margin-top: 0;
	bottom:56px;
	}
}

@media screen and (max-width: 1024px) {
	.container-logo{
	width: 360px;
	height: 360px;
	position: fixed;
	top:55%;
	}
	.HomeIntro {
	margin-top: 45%;
	}
	.HomeIntro div{
	margin-bottom: 68px;
	}
	#HomeLogo {
	margin-top: 0;
	bottom: 36px;
	}

}
.container-logo img{
	width: 100%;
}
