* {
  margin: 0;
  padding: 0;
}

.hidden-text{
overflow: hidden;

}

.hidden-text p{
	display: inline-block;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	-webkit-transform: rotate(-180deg);
	position: fixed;
	font-size: 30px;
	color: #e9e9e9;
	font-weight: 1000;
	left: 15%;
}

.text-nhungmy{
	top:90px;
}

.text-uiux{
	bottom: 90px;
}

.project-1{
	margin-top:15%;
	z-index: 2;
}

.img-project{
	display: block;
	width: 100%;
}

.img-project img{
	width: 100%;
}

.name-project{
	float: right;
}


@media screen and (min-width: 720px) and (max-width: 1024px) {

	.img-project{
	width: 100%;
	}

	.hidden-text p{
		font-size: 36px;
		left:20%;
	}

}

@media screen and (max-width: 720px) {

	.firt-project{
		margin-top: 120px;
	}

	.img-project{
	width: 100%;
	}

	.hidden-text{
		display: flex;

	}

	.hidden-text p{
		font-size: 24px;
		left:5%;
		width: 190px;
	}

	.text-nhungmy{
	top:160px;
	}

}


.popupProject{
	display:none;
    position: fixed;
    z-index: 5;
    right: 10%;
    top:0;
    padding-top: 0;
    width: 80%;
    height: ;
    overflow: auto;
    background-color: #fff;
    box-shadow: 2px 2px 20px 2px #75757594;
}

.project-img{
	position: absolute;
	z-index: 1;
	width:100%;
}

/*.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}*/





