* {
  margin: 0;
  padding: 0;
}

.TextTakeARest {
  position: fixed;
  z-index: 1;
  top: 90px;
  left: 180px;
  width: 37.5%;
}

.icon-network{
  color: #535353;
}


img {
  width: 100%;
}

.GridButton {
  width: 20px;
  position: fixed;
  top: 90px;
  right: 55px;
  z-index: 1;
}

.container-fullimage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-fullimage img {
  padding: 10% 0 5% 0;
}

@media screen and (max-width: 720px) {
  .GridButton {
    position: fixed;
    right: 24px;
  }

  .TextTakeARest {
    position: fixed;
    right: 16px;
    left: 0;
    width: 100%;
    top: 0;
    padding: 104px 16px 0 16px;
    z-index: 0;
    background-image: -webkit-linear-gradient(top, white, rgba(255, 255, 255, 0.7));
  }

  .firstimage {
    margin-top: 240px;
  }

  .content-image {
    position: absolute;
    z-index: -3;
  }
}

@media screen and (min-width: 720px) and (max-width: 1024px) {
  .firstimage {
    margin-top: 240px;
  }
}





/*Layout-3-col*/

.layout-3-col{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 180px;
  margin-top:240px;
  margin-right: 55px;
  background-color: #fafafa;
}
.block-window{
  width: 25.1%;
  height: 26.8%;
  background-color: #fafafa;
}















